/* For The Education Section Only */
@media (max-width: 1280px) {
    .horizontal{
        width: 67.2%;
    }

    div.verticalLines {
        gap: 420px;
    }
    
    div.cards {
        gap: 240px;
    }

    .card > span {
        margin: 25% 0 0 8%;
    }

    .cardText {
        margin: 34% 4% 0 18%; 
    }
}