/* Education Section */
@media(max-width:1356px){
    .horizontal{
        width: 67.99%;
        }
        
        .vertical{
            height: 50px;
        }
        
        div.verticalLines{
            gap: 332.2px;
        }

        .card > span{
            margin: 28% 0 0 10%;
        }
        
        .cardText{
            margin: 36% 4% 0 20%;
        }
        
        div.cards{
            gap: 140px;
        }
}
